js/modules/cache/*.json
js/modules/logs/*.log
*.txt
*.zip
*.bat
js/data/*
fonts/*
test/*
js/data/*
.vscode/*
.DS_Store
.github/copilot-instructions.md
images/*
.github/gemini-instructions.md
.htaccess
active/storms/AL052025/*
WEATHER_PARAMETER_SELECTOR_PLAN.md
